* {
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
}

/*Estilo header */
#header {
  align-items: center;
  background-color: #181818;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 15px 2px rgba(2, 2, 2, 0.452);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

#header-h2 {
  letter-spacing: 2px;
}

#header-button {
  background-color: transparent;
  border: none;
  color: #fbfee5;
  display: none;
  font-size: 36px;
  position: absolute;
  right: 15px;
}

#header-button:hover {
  color: #fbfee55d;
}

#ul-link-header {
  display: flex;
  list-style: none;
  flex-direction: row;
}

#link-header-h2,
.link {
  color: #fbfee5;
  padding: 20px;
  text-decoration: none;
}

ul .link:hover {
  color: #fbfee55d;
  text-decoration: underline;
}

span {
  color: #fc6e3d;
}

/* Estilo home */

#container-home {
  align-content: center;
  align-items: center;
  background-color: #252628;
  color: #fbfee5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 95px 0;
  width: 100%;
}

#div-home-text {
  margin: 20px;
  padding: 20px;
  width: 340px;
}

#div-home-text h1 {
  font-size: 1.9em;
}

#technologies {
  color: #fbfee55d;
  text-align: center;
}

#home-text-button {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

#home-text-button a {
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.div-button {
  background-image: linear-gradient(to top, #C423FF, #1D6BFF);
  border-radius: 5px;
  cursor: pointer;
  padding: 1px;
}

.button-home {
  align-items: center;
  background-color: #252628;
  border-radius: 5px;
  border: none;
  display: flex;
  cursor: pointer;
  font-size: medium;
  justify-content: space-evenly;
  padding: 2px;
  width: 130px;
}

.span-button {
  background-image: linear-gradient(to top, #C423FF, #1D6BFF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#linkedin img,
#github img {
  height: 23px;
  width: 23px;
}

.div-home-photograph {
  background-color: #fc6e3d;
  border-radius: 50%;
  margin: 20px;
  text-align: center;
  padding: 0px;
  width: 430px;
}

.div-home-photograph2 {
  background-color: #252628;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
  padding: 0px;
  width: 414px;
}

/* Estilo about me */
#container-about-me {
  align-items: center;
  background-color: #fbfee5;
  display: flex;
  flex-direction: column;
  padding: 70px 10px;
  text-align: center;
}

#div-container-about-me {
  margin: 5px;
  width: 50%;
}

#about-me {
  color: #fc6e3d;
  font-size: 2em;
  padding: 10px;
  text-align: center;
}

#about-me p {
  color: #181818;
}

#div-curriculum-vitae {
  background-color: #fc6e3d;
  box-shadow: 2px 2px 10px #181818;
  ;
  border: 1px solid #31140a;
  border-radius: 5px;
  margin: 30px;
  width: 180px;
}

#div-curriculum-vitae a {
  color: #31140a;
  display: block;
  padding: 13px;
  text-decoration: none;
}

/* Estilo portifolio */
#container-portfolio {
  background-color: #181818;
  color: #fbfee55d;
  padding: 80px 30px;
  text-align: center;
}

.div-container-portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.div-portfolio {
  background-color: #252628;
  border-radius: 10px;
  margin: 15px;
  height: 250px;
  width: 290px;
}

.div-portfolio a {
  text-decoration: #6B6C63;
}

.div-portfolio a img {
  border-radius: 10px;
  height: 190px;
  margin: 5px;
}

.p-portfolio {
  color: #6B6C63;
}

/* estyle contact */
#container-contact {
  background-color: #252628;
  color: #fbfee5;
  padding: 10px;
  text-align: center;
}

#container-contact h2 {
  margin: 15px;
}

#div-container-contact {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

#div-container-contact div {
  margin: 20px;
}

#div-linkedin,
#div-github,
#div-email,
#div-whatsapp {
  align-items: center;
  display: flex;
  font-size: smaller;
  justify-content: flex-start;
}

#div-linkedin a,
#div-github a,
#div-email p,
#div-whatsapp p {
  color: #fbfee5;
  margin: 20px;
  text-decoration: none;
}

#img-linkedin,
#img-github,
#img-email,
#img-whatsapp {
  display: block;
  margin: 5px;
  width: 30px;
}

#div-message {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px;
}

#message-button {
  background-color: #fc6e3d;
  box-shadow: 2px 2px 10px #181818;
  border: 1px solid #31140a;
  border-radius: 5px;
  padding: 5px;
  width: 280px;
}

#div-message textarea {
  border-radius: 10px;
  margin: 0px 5px;
  padding: 5px;
}

#div-message input {
  border-radius: 10px;
  padding: 5px;
  width: 230px;
}


@media (max-width: 906px) {

  /* Estilo header */
  #header {
    padding: 0px;
    position: fixed;
  }

  #ul-link-header,
  #header {
    align-items: unset;
    flex-direction: column;
  }

  #header-h2 {
    padding: 10px 0px;
  }

  li {
    text-align: center;
  }

  .link {
    display: block;
    padding: 15px;
  }

  li:hover {
    background-color: #fbfee55d;
    cursor: pointer;
  }

  .nav-header-disappear {
    display: none;
  }

  #header-button {
    display: block;
    margin: 1px;
  }

  /* Estilo home */
  #container-home {
    flex-direction: column-reverse;
    padding: 65px 0px;
  }

  /* Estilo about me*/
  #div-container-about-me {
    margin: unset;
    width: auto;
  }

  @media (max-width: 845px) {

    /* contact */
    #div-container-contact {
      align-items: center;
      align-content: center;
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: 460px) {

      /* header */
      .link {
        padding: 20px 90px;
      }

      /* home */
      #div-home-text {
        margin: 20px;
        padding: 20px;
        width: 300px;
      }

      .div-home-photograph {
        width: 350px;
      }

      .div-home-photograph2 {
        width: 330px;
      }

      /* contact */
      #div-message textarea,
      #div-message input {
        width: 171;
      }
    }
  }
}
