* {
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
}

/*Estilo header */
#header {
  align-items: center;
  background-color: #181818;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 15px 2px rgba(2, 2, 2, 0.452);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

#header-h2 {
  letter-spacing: 2px;
}

#header-button {
  background-color: transparent;
  border: none;
  color: #fbfee5;
  display: none;
  font-size: 36px;
  position: absolute;
  right: 20px;
}

#header-button:hover {
  color: #fbfee55d;
}

#ul-link-header {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#link-header-h2,
.link {
  color: #fbfee5;
  padding: 5px;
  margin: 40px;
  text-decoration: none;
}

ul .link:hover {
  color: #fbfee55d;
  text-decoration: underline;
}

span {
  color: #fc6e3d;
}

/* Estilo home */

#container-home {
  align-content: center;
  align-items: center;
  background-color: #252628;
  color: #fbfee5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#div-home-text {
  margin: 20px;
  width: 340px;
  padding: 20px;
}

#div-home-text h1 {
  font-size: 1.9em;
}

#technologies {
  color: #fbfee55d;
  text-align: center;
}

#home-text-button {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

#home-text-button a {
  text-decoration: none;
}

.div-button {
  background-image: linear-gradient(to top, #C423FF, #1D6BFF);
  border-radius: 5px;
  margin: 10px;
  padding: 1px;
}

.button-home {
  align-items: center;
  background-color: #252628;
  border-radius: 5px;
  border: none;
  display: flex;
  font-size: medium;
  justify-content: space-evenly;
  padding: 2px;
  width: 130px;
}

.span-button {
  background-image: linear-gradient(to top, #C423FF, #1D6BFF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div-home-photograph {
  background-color: #fc6e3d;
  border-radius: 50%;
  margin: 20px;
  text-align: center;
  width: 430px;
  padding: 0px;
}

#linkedin img,
#github img {
  height: 23px;
  width: 23px;
}

.div-home-photograph2 {
  background-color: #252628;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
  width: 414px;
  padding: 0px;
}

/* Estilo about me */
#container-about-me {
  background-color: #fbfee5;
  margin: auto;
  padding: 30px;
  text-align: center;
}

#div-container-about-me {
  margin: auto;
  width: 50%;
}

#about-me {
  color: #fc6e3d;
  font-size: 2em;
  padding: 10px;
  text-align: center;
}

#about-me p {
  color: #181818;
}

/* Estilo portifolio */
#container-portfolio {
  background-color: #181818;
  color: #fbfee55d;
  padding: 30px;
  text-align: center;
}

.container-div-portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.div-portfolio {
  background-color: #252628;
  border-radius: 10px;
  margin: 19px;
  width: 306px;
  height: 200px;
}

/* Estilo home */
@media (max-width:906px) {
  #container-home {
    flex-direction: column-reverse;
  }

  /* Estilo about me*/
  #div-container-about-me {
    margin: unset;
    width: auto;
  }

  @media (max-width: 813px) {
    /* Estilo header */
    #header {
      position: absolute;
    }

    #ul-link-header,
    #header {
      flex-direction: column;
      align-items: unset;
    }

    #header-h2 {
      padding: 8px 0px;
    }

    li {
      text-align: center;
      padding: 15px;
    }

    #link-header-h2 {
      margin: 20px;
    }

    .link {
      padding: 15px 80px;
    }

    li:hover {
      background-color: #fbfee55d;
      cursor: pointer;
    }

    .nav-header-disappear {
      display: none;
    }

    #header-button {
      display: block;
    }

    .div-home-photograph {
      margin-top: 100px;
    }

    @media (max-width: 460px) {
      #div-home-text {
        margin: 20px;
        width: 300px;
        padding: 20px;
      }
      .div-home-photograph {
        width: 350px;
      }

      .div-home-photograph2 {
        width: 330px;
      }
    }
  }
}